{% extends "base.html" %}
{% block title %}
SignUp|Captain Notes
{% endblock %}

{% block content %}
<h2>Welcome to Captain Notes</h2>
<p>To add notes, signup first</p>
<form class="form form-group" method="POST">
    <hr />
    <label for="firstname">First name</label>
    <input class="form-control" id="firstname" name="firstname" type="text" placeholder="Enter firstname" required>

    <label for="lastname">Last name</label>
    <input class="form-control" id="lastname" name="lastname" type="text" placeholder="Enter last name" required>

    <label for="email">Email</label>
    <input class="form-control" id="email" name="email" type="email" placeholder="Enter email" required>

    <label for="password">Password</label>
    <input class="form-control" id="password" name="password" type="password" placeholder="Enter password" required>

    <label for="password2">Confirm password</label>
    <input class="form-control" id="password2" name="password2" type="password" placeholder="Confirm password" required>  
    <hr />
    <input type="submit" value="Sign Up" class="btn btn-primary form-control"> 
</form>
{% endblock %}