{% extends 'base.html' %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="#">
                <span data-feather="home"></span>
                Dashboard <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('admin.careers')}}">
                <span data-feather="file"></span>
                Job Posts
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('admin.events')}}">
                <span data-feather="shopping-cart"></span>
                events
              </a>
            </li>
          </ul>
        </div>
      </nav>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <div></div>

  <h1>Users</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Email</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for scholar in scholars %}
        <tr>
          <td>{{ scholar.id }}</td>
          <td>{{ scholar.email }}</td>
          <td>{{ scholar.firstname }}</td>
          <td>{{ scholar.lastname }}</td>
          <td>
            <a href="{{ url_for('auth.edit_user', user_id=scholar.id) }}" class="btn btn-primary btn-sm">Edit</a>
            <a href="{{ url_for('auth.delete_user', user_id=scholar.id) }}" class="btn btn-danger btn-sm">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</main>
    </div>
  </div>

{% endblock %}